
GGJ2024Bakom/UserSettings/EditorUserSettings.asset
GGJ2024Bakom/UserSettings/EditorUserSettings.asset
GGJ2024Bakom/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
GGJ2024Bakom/UserSettings/EditorUserSettings.asset
GGJ2024Bakom/Assets/Plugins/FMOD/Resources/FMODStudioSettings.asset
GGJ2024Bakom/Assets/Plugins/FMOD/Resources/FMODStudioSettings.asset.meta
GGJ2024Bakom/UserSettings/Layouts/CurrentMaximizeLayout.dwlt
GGJ2024Bakom/Logs/shadercompiler-UnityShaderCompiler.exe0.log
GGJ2024Bakom/Logs/shadercompiler-UnityShaderCompiler.exe1.log
GGJ2024Bakom/Logs/shadercompiler-UnityShaderCompiler.exe2.log
GGJ2024Bakom/Logs/shadercompiler-UnityShaderCompiler.exe3.log
GGJ2024Bakom/Logs/shadercompiler-UnityShaderCompiler.exe4.log
GGJ2024Bakom/Logs/shadercompiler-UnityShaderCompiler.exe5.log
GGJ2024Bakom/Logs/shadercompiler-UnityShaderCompiler.exe6.log
GGJ2024Bakom/Logs/shadercompiler-UnityShaderCompiler.exe7.log
-*.log
GGJ2024Bakom/UserSettings/Layouts/default-2021.dwlt
